
@{
    ViewBag.Title = "Index";
}
<style>
    th,td {
     padding:8px;
     text-align:center !important;
    }
</style>
<h2>音乐</h2>
<div class="main-box">
    <a href="/Music/Upload">上传歌曲</a>
    <table  width="100%">
          <thead>
               <tr>
                   <th>歌曲名</th>
                   <th>类型</th>
                   <th>上传者</th>
                   <th>上传时间</th>
                   <th>人气</th>
               </tr>
          </thead>
        <tbody class="musicLst">

        </tbody>
    </table>
</div>
