
@{
    ViewBag.Title = "注册";
}

@using (Html.BeginForm("Register", "Shared", FormMethod.Post))
{
    <h2>新用户注册</h2>
    <p>
        用户名：
        <br />
        <input type="text" name="Username" class="textbox" />
    </p>
    <p>
        密码：
        <br />
        <input type="password" name="Password" class="textbox" />
    </p>
    <p>
        密码重复：
        <br />
        <input type="password" name="ConfirmPassword" class="textbox" />
    </p>
    <p>
        所在城市：
        <br />
        <input type="text" name="City" class="textbox" />
    </p>
    <p>
        真实姓名：
        <br />
        <input type="text" name="Name" class="textbox" />
    </p>
    <p>
        联系电话：
        <br />
        <input type="text" name="Phone" class="textbox" />
    </p>
    <p><input type="submit" value="注册" class="button button-green" /></p>
}