
@{
    ViewBag.Title = "Index";
}
<style>
    td {
        padding: 8px !important;
    }
</style>
<div class="main-box">
    <div> <a href="/Concert/Add">发起歌友会</a> </div>
    <table class="concertLst" style="line-height:34px;">
       
    </table>
</div>

