@using VocalConcert.Web.Models.ViewModel;
@using VocalConcert.Entity;

@{
    ViewBag.Title = "Show";
    vUser user = ViewBag.User as vUser;

    var imgSrc = "";
    if (user.Avatar != null)
    {
        var base64 = Convert.ToBase64String(user.Avatar);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
    else
    {
        imgSrc = "/Images/userphoto.png";
    }
   
}


<h2>个人中心</h2>


<div class="main-box">
    <div>用户名：@user.Username</div>

    <div>
        图像: <img src="@imgSrc" alt="图像" width="50" height="50" />
    </div>
    <div>角色:@user.Role</div>
    <div>城市：@user.City</div>
    <div>真实姓名:@user.Name</div>
    <div>电话：@user.Phone</div>
    @if (ViewBag.CurrentUser != null)
    { 
       if(ViewBag.CurrentUser.ID==user.ID)
       { 
           <a href="/User/Edit/@user.ID">修个人信息</a>
       }

        if (ViewBag.CurrentUser.Role == UserRole.Business)
        { 
           <a href="/Product/Add">发布优惠产品</a>
        }
    }
    
    <div>
        创建的歌友会：
        @foreach (var group in user.Groups)
        { 
          <span><a href="/Group/Show/@group.ID">@group.Title</a></span>
        }
    </div>
</div>
