
@{
    ViewBag.Title = "ChangeCity";
}

<h2>切换当地城市</h2>


<div class="jumbotron main-box">
    <a href="/Common/DoChangeCity?city=齐齐哈尔">齐齐哈尔</a>
    <a href="/Common/DoChangeCity?city=哈尔滨">哈尔滨</a>
    <a href="/Common/DoChangeCity?city=大庆">大庆</a>
    <a href="/Common/DoChangeCity?city=沈阳">沈阳</a>
</div>

