.wrap-content {
    padding: 0 60px;
    padding-bottom: 200px;
}
.button {
	text-transform: none;
	margin: 5px 10px 0 0;
	line-height: normal;
	border: 0;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 16px;
    border-radius: 8px;
    outline: 0;
    transition: all 0.2s linear;
}

.button.button-small{
    font-size: 12px;
    margin: 2px 5px 0 0;
    padding: 2px 5px;
    border-radius: 4px;
}

@-webkit-keyframes greenPulse {
	from {
		background-color: #749a02;
		-webkit-box-shadow: 0 0 9px #fff
	}

	50% {
		background-color: #91bd09;
		-webkit-box-shadow: 0 0 18px #91bd09
	}

	to {
		background-color: #749a02;
		-webkit-box-shadow: 0 0 9px #fff
	}
}

.button.button-green {
  color: #fff;
  background-color: #91bd09;
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
    transition: all 0.2s linear;
}

@-webkit-keyframes bluePulse {
	from {
		background-color: #007d9a;
		-webkit-box-shadow: 0 0 9px #fff
	}

	50% {
		background-color: #2daebf;
		-webkit-box-shadow: 0 0 18px #2daebf
	}

	to {
		background-color: #007d9a;
		-webkit-box-shadow: 0 0 9px #fff
	}
}

.button.button-blue {
    color: #fff;
    background-color: #2daebf;
    -webkit-animation-name: bluePulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    transition: all 0.2s linear;
}

@-webkit-keyframes redPulse {
	from {
		background-color: #bc330d;
		-webkit-box-shadow: 0 0 9px #fff
	}

	50% {
		background-color: #e33100;
		-webkit-box-shadow: 0 0 18px #e33100
	}

	to {
		background-color: #bc330d;
		-webkit-box-shadow: 0 0 9px #fff
	}
}

.button.button-red {
  color: #fff;
  background-color: #e33100;
  -webkit-animation-name: redPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
    transition: all 0.2s linear;
}

@-webkit-keyframes yellowPulse {
	from {
		background-color: #fc9200;
		-webkit-box-shadow: 0 0 9px #fff;
	}

	50% {
		background-color: #ffb515;
		-webkit-box-shadow: 0 0 18px #ffb515;
	}

	to {
		background-color: #fc9200;
		-webkit-box-shadow: 0 0 9px #fff;
	}
}

.button.button-yellow {
  color: #fff;
  background-color: #ff5c00;
  -webkit-animation-name: yellowPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
    transition: all 0.2s linear;
}

.textbox {
    margin: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 20px;
    line-height: 20px;
    outline: 0;
    padding: 4px;
    border: 1px solid #ccc;
    transition: box-shadow .2s linear,background .2s linear;
    background: #f2f2f2;
    max-width:100%;
    _width:120px;
    *width:120px;
}

    .textbox:hover {
        border-color: #b8b8b8;
        background: #fcfcfc;
    }

    .textbox:focus {
        border-color: #ffdf00;
        background: #fcfcfc;
        -webkit-box-shadow: 0 0 10px #ffdf00;
        box-shadow: 0 0 10px #ffdf00;
        behavior:url(/styles/PIE.htc);
    }

.textbox.error {
    border-color: #ff696d;
    background: #fcfcfc;
    -webkit-box-shadow: 0 0 10px rgb(255, 128, 128);
    box-shadow: 0 0 10px rgb(255, 128, 128);
    behavior:url(/styles/PIE.htc);
}

